## Question 1
What's the version of NumPy that you installed?

In [1]:
import numpy as np
np.__version__

'1.21.5'

In [2]:
import pandas as pd
car_data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

## Question 2
How many records are in the dataset?

In [3]:
car_data.shape

(11914, 16)

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [40]:
car_data.groupby('Make').Make.count().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

In [26]:
car_data[car_data["Make"]=="Audi"]["Model"].nunique()

34

## Question 5
How many columns in the dataset have missing values

In [29]:
car_data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [41]:
car_data.columns[car_data.isnull().any()].shape[0]

5

## Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

In [89]:
median_value_with_na = car_data['Engine Cylinders'].median()
most_frequent_value = car_data['Engine Cylinders'].mode()

car_mode_imputation = car_data['Engine Cylinders'].fillna(most_frequent_value)


print(f"1. The median value with missing information is {median_value_with_na}")
print(f"2. The most frequent value is {most_frequent_value[0]}")
print(f"4. The median value after mode imputation is {car_mode_imputation.median()}")

1. The median value with missing information is 6.0
2. The most frequent value is 4.0
4. The median value after mode imputation is 6.0

## Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [52]:
# 1-3
lotus_car = car_data[car_data["Make"] == "Lotus"][["Engine HP", "Engine Cylinders"]].drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [78]:
# 4. get the underlying NumPy array
X = lotus_car.values

In [79]:
# 5. compute the matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)

In [80]:
# 6. invert XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [81]:
# 7. create an array y
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [84]:
# 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)

In [90]:
# 9. What's the value of the first element of w?
w[0]

4.594944810094579